.boton {
    color: blue;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
