.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-category {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: small; 
    transition: all 0.25s;
}

.navbar-category:hover {
    background-color: grey; 
}

.button {
    color: whitesmoke;
}
